.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border: 1px solid black;
    padding: 0 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

header h2 {
    width: 20%;
}

.nav {
    width: 80%;
    font-size: 19px;
    font-weight: normal;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.regFields {
    display: block;
    width: 400px;
    margin: 20px auto;
}

.addBtn,
.facebookBtn {
    display: block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    cursor: pointer;
    margin: 10px auto;
    transition: 0.5s;
}

.addBtn:hover,
.facebookBtn:hover {
    background: #8ca9e9;
    color: white;
}

.error {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
}

.userImage {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.cocktailCreator {
    width: 800px;
    margin: 0 auto;
}

.ingredients {
    margin: 40px 0;
}

.individualIngredient {
    margin: 10px 0;
    position: relative;
}

.ingName {
    width: 250px;
    margin-right: 15px;
}

.ingAmount {
    width: 80px;
    margin-right: 10px;
}

.addIngBtn {
    background: white;
    outline: none;
    border: 1px solid black;
    height: 30px;
    font-weight: bold;
    transition: 0.5s;
}

.deleteIngBtn {
    position: absolute;
    left: 47%;
    top: 5%;
    border: 1px solid black;
    background: none;
    font-weight: bold;
}

.cocktailRecipe {
    display: block;
    width: 400px;
    height: 100px;
    resize: none;
}

.cocktailName {
    width: 300px;
}

.addCocktail {
    background: white;
    outline: none;
    border: 1px solid black;
    height: 30px;
    font-weight: bold;
    transition: 0.5s;
    display: block;
    margin: 25px auto 0;
}

.addCocktail:hover {
    border: 1px solid #1092e9;
    background: #1092e9;
    color: white;
}

.cocktails {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cocktail {
    width: 26%;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.cocktail img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.info {
    flex-grow: 1;
}

.info h4 {
    text-align: center;
}

.buttons {
    margin: 0 auto;
}